ul li {
    text-align: center;
}

header {
    color: #0b526d;
    font-weight: 900;
}

li span {
    min-height:2.5rem
}

ul {
    display: flex;
    justify-content: center;
}

@media (orientation: portrait) {
    .services {
        flex-direction: column;
        flex-wrap:nowrap
    }
}

@media (orientation: landscape) {
    .services {
        flex-wrap:wrap
    }
}
