@tailwind base;
@tailwind components;
@tailwind utilities;




html { 

    box-sizing: border-box
}

*, *:before, *:after { /* זה החלק החשוב שחסר לך */
    box-sizing: inherit;
    /* all: unset; */
  }
/* 
  main {
    padding-top:5rem
  } */

