

@media (orientation: landscape)  {
    .logo-size , .job-description{
        font-size: 1.0rem;
    }

    .logo-container {
        width: 40%
    }
    .svg-width {
        width:1rem;
    }
}

@media (orientation: portrait) {

    .logo-container {
        width: 100%;
    }

    .logo-size, .job-description {
        font-size: 1rem;
    }

    .svg-width {
        width:1rem;
    }
}

.svg { 

    display: inline;
    /* vertical-align: middle; */
    /* padding: 0.05rem; */
    height:'fit-content'
}