@media (orientation: landscape) {
    .logo-size {
        font-size: 2.5rem;
    }

    .logo-container {
        width: 40%
    }
}

@media (orientation: portrait) {

    .logo-container {
        width: 100%;
    }

    .logo-size {
        font-size: 2.5rem;
    }
}

.svg { 

    display: inline;
    vertical-align: middle;
    width: 2rem;
    padding: 0.05rem;
}